/*primero llamamos a las variables y mixins*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
@keyframes show {
  from {
    opacity: 0;
    scale: 25%;
  }
  to {
    opacity: 1;
    scale: 100%;
  }
}
/*despues lllamamos al reset*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection {
  background: rgb(255, 153, 0);
}

img {
  view-timeline-name: --revealing-image;
  animation-name: show;
  animation-fill-mode: both;
  animation-timeline: --revaling-image;
  animation-range: entry 25% cover 50%;
}

/*MONTSERRAT FONT*/
/*SAIRA FONT*/
/*WORK SANS FONT*/
/*layout*/
header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8281687675) 20%, rgba(0, 0, 0, 0.4584208683) 69%, rgba(32, 32, 32, 0) 100%);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0.0625rem;
  padding-top: 2.875rem;
  padding-left: 3.125rem;
  padding-right: 5rem;
  position: sticky;
  position: relative;
  z-index: 2;
  top: 0;
}
header div a {
  text-decoration: none;
}
header div a h1 {
  font-family: "Saira", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
  scale: 1;
  transition: ease 0.3s;
}
header div a h1:hover {
  transition: ease 0.3s;
  scale: 1.2;
}
header nav ul {
  list-style: none;
  font-family: "Saira", sans-serif;
  font-weight: 300;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 9rem;
}
header nav ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
  border-radius: 15px;
  padding: 8px 10px 8px 10px;
  transition: ease 0.4s;
}
header nav ul li a:hover {
  transition: ease 0.3s;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  padding: 8px 10px 8px 10px;
  background-color: rgba(255, 255, 255, 0.719);
}

main .div-video {
  height: 100%;
  width: 100%;
}
main .div-video .video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
main .capa {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #1c1c1d;
  opacity: 0.5;
  mix-blend-mode: overlay;
}

.section1 {
  height: 90vh;
  width: 100%;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 0.7rem;
  padding-left: 70px;
  color: white;
}
.section1 small {
  font-family: "Saira", sans-serif;
  color: rgba(255, 255, 255, 0.664);
  font-weight: 400;
}
.section1 h2 {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 40px;
}
.section1 h2 span {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 60px;
}
.section1 p {
  width: 600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-align: start;
}

.section2 {
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section2 div img {
  width: 20rem;
  height: auto;
}
.section2 .nosotros {
  width: 43.75rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.6rem;
}
.section2 .nosotros small {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.3rem;
  color: rgb(151, 76, 15);
}
.section2 .nosotros h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: rgb(26, 26, 26);
  font-size: 35px;
}
.section2 .nosotros p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  color: rgb(26, 26, 26);
  font-size: 16px;
}

.section3 {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 70px;
}
.section3 div h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(151, 76, 15);
}
.section3 .especialidades {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.section3 .especialidades article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.section3 .especialidades article h3 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(151, 76, 15);
}
.section3 .especialidades article p {
  width: 460px;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: rgb(26, 26, 26);
  font-size: 16px;
}
.section3 .especialidades figure {
  display: grid;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer;
}
.section3 .especialidades figure img {
  height: 18.75rem;
  width: 15.625rem;
}
.section3 .especialidades figure figcaption {
  display: grid;
  align-items: end;
  font-family: sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  padding: 0.75rem;
  background: var(--c, rgba(0, 0, 0, 0.6));
  clip-path: inset(0 var(--_i, 100%) 0 0);
  -webkit-mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  mask: linear-gradient(#000 0 0), linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: xor;
  -webkit-mask-clip: text, padding-box;
  mask-clip: text, padding-box;
  margin: -1px;
}

figure > * {
  grid-area: 1/1;
  transition: 0.4s;
}

figure:hover figcaption {
  --_i: 0%;
}

figure:hover img {
  transform: scale(1.2);
}

@supports not (-webkit-mask-clip: text) {
  figure figcaption {
    -webkit-mask: none;
    mask: none;
    color: #fff;
  }
}
.section4 .mediaquery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.section4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  background-color: rgb(71, 43, 0);
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section4 section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15rem;
}
.section4 section div img {
  height: 43.75rem;
  width: 43.75rem;
  object-fit: cover;
  border-radius: 1.25rem;
}

.lista-servicios {
  width: 50vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.lista-servicios h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(255, 131, 30);
}
.lista-servicios ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.lista-servicios ul li {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: rgb(255, 255, 255);
  font-size: 16px;
}

.nosotros-background-image {
  height: 62vh;
  background-image: url(../assets/img/nosotros1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nosotros-section1 {
  height: 60vh;
  width: 100%;
  position: relative;
  z-index: 2;
  margin-bottom: 200px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.nosotros-section1 small {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  color: rgb(255, 198, 151);
}
.nosotros-section1 h2 {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 70px;
}
.nosotros-section1 p {
  width: 600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-align: center;
}

.nosotros-section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-top: 100px;
}
.nosotros-section2 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(151, 76, 15);
  font-size: 30px;
}
.nosotros-section2 section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.nosotros-section3 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.nosotros-section3 h2 {
  text-align: start;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(151, 76, 15);
  font-size: 30px;
}
.nosotros-section3 section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}
.nosotros-section3 section article {
  border: 1px solid rgb(255, 221, 176);
  border-radius: 20px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}
.nosotros-section3 section article div img {
  border-radius: 1.25rem;
  height: 15.625rem;
  width: 15.625rem;
  object-fit: cover;
}
.nosotros-section3 section article div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 400px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
.nosotros-section3 section article div small {
  font-weight: 600;
}
.nosotros-section3 section article div span {
  font-weight: 700;
  font-family: "Saira", sans-serif;
  color: rgb(228, 102, 0);
  font-size: 20px;
}

.nosotros-section4 {
  margin: 50px 0px 0px 0px;
  height: 170px;
  width: 100%;
  background-color: rgba(255, 180, 118, 0.753);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}
.nosotros-section4 h2 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: rgb(219, 99, 0);
  font-size: 30px;
}

.sucursal-background-image {
  height: 62vh;
  background-image: url(../assets/img/sucursal1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sucursal-section2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 3.125rem 0rem 3.125rem 0rem;
  background-color: rgb(255, 255, 255);
}
.sucursal-section2 h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 1.875rem;
  color: rgb(151, 76, 15);
}
.sucursal-section2 p {
  width: 600px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: rgb(26, 26, 26);
  text-align: center;
}

.grid-container-sucursal {
  width: 100%;
  height: 100vh;
  padding: 50px 50px;
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: repeat(2, 50%);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
}

.item1 {
  grid-area: item1;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item1 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: ease 0.5s;
}
.item1 img:hover {
  transition: ease 0.5s;
  filter: brightness(0.45);
}

.item2 {
  grid-area: item2;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item2 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: ease 0.5s;
}
.item2 img:hover {
  transition: ease 0.5s;
  filter: brightness(0.45);
}

.item3 {
  grid-area: item3;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item3 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: ease 0.5s;
}
.item3 img:hover {
  transition: ease 0.5s;
  filter: brightness(0.45);
}

.item4 {
  grid-area: item4;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item4 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: ease 0.5s;
}
.item4 img:hover {
  transition: ease 0.5s;
  filter: brightness(0.45);
}

.item5 {
  grid-area: item5;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item5 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: ease 0.5s;
}
.item5 img:hover {
  transition: ease 0.5s;
  filter: brightness(0.45);
}

.item6 {
  grid-area: item6;
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.item6 img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  transition: ease 0.5s;
}
.item6 img:hover {
  transition: ease 0.5s;
  filter: brightness(0.45);
}

/*ANIMACIONES*/
.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 90%;
  top: 50%;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
  pointer-events: none;
}
.content-details h3 {
  font-family: "Saira", sans-serif;
  font-size: 35px;
  font-weight: 500;
  color: rgb(255, 136, 0);
}
.content-details p {
  font-family: "Work Sans", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: white;
}

.item1:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.item2:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.item3:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.item4:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.item5:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.item6:hover .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.fadeIn {
  top: 80%;
}

/*FINAL ANIMACIONES*/
.servicios {
  background-image: url(../assets/img/servicios.jpg);
}

main .div-servicios {
  height: 100%;
  width: 100%;
}
main .div-servicios .img-servicios {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.section1 .small-servicios {
  color: rgb(189, 115, 5);
  font-size: 17px;
  font-weight: 700;
}

.servicios-section2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  width: 100%;
  height: auto;
  background-color: rgb(255, 255, 255);
}
.servicios-section2 section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 4rem;
  padding-left: 4rem;
  width: 100%;
  height: 35rem;
  background-color: rgb(170, 94, 0);
}
.servicios-section2 section div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding-left: 2rem;
  height: 40%;
  width: 33%;
  background-color: rgb(73, 39, 0);
  color: white;
}
.servicios-section2 section div h2 {
  font-size: 2rem;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  text-align: start;
}
.servicios-section2 section div p {
  font-size: 1rem;
  font-family: "Saira", sans-serif;
  font-weight: 300;
  text-align: start;
}
.servicios-section2 section .servicio-cards-img {
  width: 61%;
  height: 100%;
  padding-left: 0rem;
}
.servicios-section2 section .servicio-cards-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.servicios-section2 .servicio-granos {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 4rem;
  padding-left: 0rem;
  padding-right: 4rem;
  width: 100%;
}
.servicios-section2 .servicio-granos div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  gap: 1rem;
  padding-right: 2rem;
  height: 40%;
  width: 33%;
  background-color: rgb(73, 39, 0);
  color: white;
}
.servicios-section2 .servicio-granos div h2 {
  font-size: 2rem;
  font-family: "Saira", sans-serif;
  font-weight: 500;
  text-align: end;
}
.servicios-section2 .servicio-granos div p {
  font-size: 1rem;
  font-family: "Saira", sans-serif;
  font-weight: 300;
  text-align: end;
}
.servicios-section2 .servicio-granos .servicio-cards-img {
  width: 61%;
  height: 100%;
  padding-right: 0rem;
}

.contacto {
  background-image: url(../assets/img/contacto.jpg);
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
}

.flex-main-contacto {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0rem;
}

.iconos-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 10%;
  z-index: 2;
  width: 100%;
  margin-top: 4.375rem;
  margin-bottom: 3.75rem;
}
.iconos-contacto div {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.iconos-contacto div p {
  font-family: "Saira", sans-serif;
  color: white;
  font-size: 14px;
  font-weight: 500;
  width: 130px;
  text-align: center;
}
.iconos-contacto div p span {
  font-family: "Work Sans", sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 700;
}
.iconos-contacto div img {
  height: 60px;
  width: auto;
}

.formulario {
  width: 80%;
  border-radius: 20px;
  background-color: rgba(71, 38, 0, 0.6588235294);
  padding: 20px;
  font-family: "Saira", sans-serif;
  color: white;
  z-index: 2;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 2rem;
  border: none;
  border-radius: 20px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}

#fname {
  height: 20px;
  font-family: "Saira", sans-serif;
}

#lname {
  height: 20px;
  font-family: "Saira", sans-serif;
}

#country {
  font-family: "Saira", sans-serif;
  font-weight: 500;
  padding: 20px;
}

#subject {
  font-family: "Saira", sans-serif;
  height: 150px;
}

select {
  background-image: url(../assets/img/flecha.png);
  background-repeat: no-repeat;
  background-position: right center;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

.footer-contacto {
  position: absolute;
  z-index: 8;
  margin-top: 50px;
}

footer {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding-bottom: 2rem;
  padding-top: 7rem;
  background-image: url(../assets/img/footer.jpg);
}
footer section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
footer section .footer1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
footer section .footer1 span {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
}
footer section .footer1 nav ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer section .footer1 nav ul li {
  list-style: none;
}
footer section .footer1 nav ul li a {
  font-family: "Saira", sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
footer section .social-media ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer section .social-media ul li {
  list-style: none;
}
footer section .social-media ul li a img {
  height: 50px;
  width: auto;
}
footer section .footer2 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer section .footer2 h2 {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
}
footer section .footer2 p {
  font-family: "Saira", sans-serif;
  font-weight: 300;
  text-decoration: none;
  font-size: 1rem;
  color: rgb(255, 255, 255);
}
footer section .footer2 p a {
  color: rgb(255, 233, 192);
  text-decoration: none;
}
footer section .footer3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer section .footer3 h2 {
  font-family: "Saira", sans-serif;
  font-weight: 700;
  color: white;
  font-size: 30px;
}
footer section .footer3 div input {
  border: none;
  height: 40px;
  width: 300px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  text-align: center;
  font-family: "Work Sans", sans-serif;
}
footer div p {
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 16px;
}
footer div p span {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  color: rgb(247, 170, 3);
  font-size: 18px;
}

/*components*/
.button {
  border-radius: 0.75rem;
  border: none;
  background-color: rgba(253, 114, 0, 0.623);
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  font-family: "Saira", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  color: azure;
  text-align: center;
}
.button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(199, 81, 2);
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border-radius: 0.75rem;
  border: none;
}
.button a {
  text-decoration: none;
  color: aliceblue;
}

.button2 {
  border-radius: 0.75rem;
  border: none;
  background-color: rgba(253, 114, 0, 0.623);
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: azure;
  text-align: center;
  transition: ease 0.2s;
  cursor: pointer;
}
.button2:hover {
  transition: ease 0.2s;
  scale: 1.2;
  color: rgb(255, 255, 255);
  background-color: rgb(112, 45, 0);
  padding: 0.8rem 1.2rem 0.8rem 1.2rem;
  border-radius: 0.75rem;
  border: none;
  cursor: pointer;
}
.button2 a {
  text-decoration: none;
  color: aliceblue;
}

.ag-format-container {
  width: 360px;
  margin: 0 auto;
}

.ag-courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 50px 0;
}

.ag-courses_item {
  -ms-flex-preferred-size: calc(95% - 30px);
  flex-basis: calc(95% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: rgb(92, 43, 2);
  text-decoration: none;
  overflow: hidden;
  position: relative;
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  -webkit-transform: scale(6);
  -ms-transform: scale(6);
  transform: scale(6);
}

.ag-courses-item_link:hover .ag-courses-item_bg1 {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

.ag-courses-item_link:hover .ag-courses-item_bg3 {
  -webkit-transform: scale(6);
  -ms-transform: scale(6);
  transform: scale(6);
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  color: white;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #d4d4d4;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #d3d3d3;
  font-family: "Work Sans", sans-serif;
  -webkit-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  background-color: #ff7b00;
  background-image: url(https://images.pexels.com/photos/773958/pexels-photo-773958.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ag-courses-item_bg1 {
  height: 128px;
  width: 128px;
  background-color: #ff7b00;
  background-image: url(https://images.unsplash.com/photo-1510591509098-f4fdc6d0ff04?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.ag-courses-item_bg3 {
  height: 128px;
  width: 128px;
  background-color: #ff7b00;
  background-image: url(https://images.pexels.com/photos/8844163/pexels-photo-8844163.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

/*mediaquery*/
@media (max-width: 1390px) {
  .section4 {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background-color: rgb(71, 43, 0);
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  .section4 section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  .section4 section div img {
    height: 700px;
    width: 700px;
    object-fit: cover;
  }
  .lista-servicios {
    width: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .lista-servicios h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(255, 131, 30);
  }
  .lista-servicios ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .lista-servicios ul li {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
  }
  .section4 .mediaquery {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section1 {
    margin-bottom: 100px;
  }
}
@media (max-width: 1140px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  footer section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 6rem;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section1 {
    margin-bottom: 50px;
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  .servicios-section2 section {
    height: 30rem;
  }
  .servicios-section2 section .servicio-cards-img {
    width: 59%;
    height: 100%;
  }
  .servicios-section2 .servicio-granos .servicio-cards-img {
    width: 59%;
    height: 100%;
  }
}
@media screen and (max-width: 1011px) {
  footer {
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  footer section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  footer section .footer1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-background-image {
    height: 100vh;
  }
  /*--------------------------------------------------*/
  /*-------------------sucursal-----------------------*/
  /*--------------------------------------------------*/
  .sucursal-background-image {
    height: 100vh;
  }
}
@media screen and (max-width: 915px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 5rem;
  }
  .section4 section div img {
    height: 500px;
    width: 500px;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section1 {
    height: 80vh;
    margin-bottom: 50px;
  }
  .nosotros-background-image {
    height: 100vh;
  }
  .nosotros-section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }
  /*--------------------------------------------------*/
  /*-------------------sucursal-----------------------*/
  /*--------------------------------------------------*/
  .sucursal-background-image {
    height: 100vh;
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  .servicios-section2 section {
    padding-left: 2rem;
    height: 28rem;
  }
  .servicios-section2 section div {
    width: 41%;
    height: 50%;
  }
  .servicios-section2 section .servicio-cards-img {
    width: 50%;
    height: 100%;
  }
  .servicios-section2 .servicio-granos {
    padding-right: 2rem;
  }
  .servicios-section2 .servicio-granos div {
    width: 41%;
    height: 50%;
  }
  .servicios-section2 .servicio-granos .servicio-cards-img {
    width: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 725px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
  }
  .section1 p {
    width: 500px;
  }
  .section2 {
    height: auto;
    padding-bottom: 70px;
  }
  .section2 div img {
    width: 20rem;
    height: auto;
  }
  .section2 .nosotros {
    width: 31.25rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }
  .section2 .nosotros h2 {
    font-size: 37px;
    text-align: center;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section1 {
    height: 70vh;
  }
  .nosotros-section1 p {
    width: 400px;
  }
  /*--------------------------------------------------*/
  /*-------------------sucursal-----------------------*/
  /*--------------------------------------------------*/
  .grid-container-sucursal {
    width: 100%;
    height: 100vh;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, 33%);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "item1 item2" "item3 item4" "item5 item6";
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  .servicios-section2 section div {
    width: 38%;
    height: 50%;
  }
  .servicios-section2 section div p {
    font-size: 0.875rem;
  }
  .servicios-section2 section .servicio-cards-img {
    width: 50%;
  }
  .servicios-section2 .servicio-granos div {
    width: 38%;
  }
  .servicios-section2 .servicio-granos div p {
    font-size: 0.875rem;
  }
  .servicios-section2 .servicio-granos .servicio-cards-img {
    width: 50%;
  }
}
@media screen and (max-width: 615px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
  }
  .section1 p {
    width: 400px;
  }
  .section4 section div img {
    height: 400px;
    width: 400px;
  }
  footer div {
    width: 400px;
    text-align: center;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  /*--------------------------------------------------*/
  /*-------------------sucursal-----------------------*/
  /*--------------------------------------------------*/
  .sucursal-section2 {
    text-align: center;
  }
  .sucursal-section2 p {
    width: 60%;
  }
}
@media screen and (max-width: 615px) {
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }
  header nav ul li a {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .section1 {
    padding-left: 40px;
  }
  .section1 h2 {
    font-size: 30px;
  }
  .section1 h2 span {
    font-size: 50px;
  }
  .section1 p {
    font-size: 14px;
  }
  .section2 {
    padding-bottom: 90px;
  }
  .section2 div img {
    width: 17rem;
    height: auto;
  }
  .section2 .nosotros {
    width: 400px;
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  .servicios-section2 section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-left: 1rem;
    height: 28rem;
  }
  .servicios-section2 section div {
    width: 45%;
    height: 50%;
  }
  .servicios-section2 section div p {
    font-size: 0.875rem;
  }
  .servicios-section2 section .servicio-cards-img {
    width: 50%;
    height: 100%;
  }
  .servicios-section2 .servicio-granos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-right: 1rem;
  }
  .servicios-section2 .servicio-granos div {
    width: 45%;
    height: 50%;
  }
  .servicios-section2 .servicio-granos div p {
    font-size: 0.875rem;
  }
  .servicios-section2 .servicio-granos .servicio-cards-img {
    width: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 500px) {
  .button {
    padding: 0.3rem 0.8rem 0.3rem 0.8rem;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 0.7rem;
  }
  header nav ul li a {
    font-size: 0.875rem;
    font-weight: 500;
  }
  .section1 p {
    width: 300px;
  }
  .section3 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    padding-bottom: 70px;
  }
  .section3 div h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: rgb(151, 76, 15);
  }
  .section3 .especialidades article p {
    width: 350px;
  }
  .lista-servicios {
    width: 50%;
  }
  .lista-servicios h2 {
    text-align: center;
  }
  .section4 section div img {
    height: 300px;
    width: 300px;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section1 h2 {
    font-size: 40px;
  }
  .nosotros-section1 p {
    font-size: 14px;
  }
  .nosotros-section2 h2 {
    font-size: 25px;
  }
  .nosotros-section3 section article {
    padding: 40px 10px;
  }
  .nosotros-section3 section article div img {
    height: 13rem;
    width: 13rem;
  }
  .nosotros-section3 section article div {
    width: 250px;
  }
  .nosotros-section4 h2 {
    font-size: 25px;
  }
  /*--------------------------------------------------*/
  /*-------------------sucursal-----------------------*/
  /*--------------------------------------------------*/
  .grid-container-sucursal {
    width: 100%;
    height: auto;
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(6, 260px);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-areas: "item1" "item2" "item3" "item4" "item5" "item6";
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  .servicios-media1 {
    height: 75vh;
  }
  .servicios-section2 section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-left: 1rem;
    height: 28rem;
  }
  .servicios-section2 section div {
    width: 45%;
    height: 60%;
  }
  .servicios-section2 section div p {
    font-size: 0.875rem;
  }
  .servicios-section2 section .servicio-cards-img {
    width: 50%;
    height: 100%;
  }
  .servicios-section2 .servicio-granos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-right: 1rem;
  }
  .servicios-section2 .servicio-granos div {
    width: 45%;
    height: 60%;
  }
  .servicios-section2 .servicio-granos div p {
    font-size: 0.875rem;
  }
  .servicios-section2 .servicio-granos .servicio-cards-img {
    width: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 415px) {
  header {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding-left: 0rem;
    padding-right: 0rem;
  }
  header nav ul {
    font-weight: 400;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer section {
    width: 100%;
  }
  footer div {
    width: 300px;
    text-align: center;
  }
  .section1 {
    padding-left: 30px;
    margin-top: -60px;
  }
  .section1 h2 {
    width: 370px;
    font-weight: 500;
    font-size: 40px;
  }
  .section1 p {
    width: 370px;
  }
  .section2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding-top: 70px;
  }
  .section2 div img {
    width: 17rem;
    height: auto;
  }
  .section2 .nosotros {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .section2 .nosotros h2 {
    width: 350px;
    font-size: 30px;
    text-align: center;
  }
  .section2 .nosotros p {
    width: 350px;
    font-size: 14px;
    text-align: justify;
  }
  .section3 div h2 {
    text-align: center;
  }
  .nosotros-section1 h2 {
    font-size: 35px;
  }
  .nosotros-section1 p {
    width: 250px;
    font-size: 14px;
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  main .div-servicios {
    height: 100%;
    width: 100%;
  }
  main .div-servicios .img-servicios {
    position: absolute;
    top: 0;
    left: 0;
    height: 85%;
    width: 100%;
    object-fit: cover;
  }
  .servicios-media1 {
    height: 75vh;
  }
  .servicios-media1 h2 {
    font-size: 1.875rem;
  }
  .servicios-media1 h2 span {
    font-size: 2.5rem;
  }
}
@media screen and (max-width: 375px) {
  header {
    z-index: 3;
    width: 100%;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .section1 h2 {
    width: 100%;
  }
  .section1 p {
    width: 80%;
  }
  .section2 .nosotros {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
  }
  .section2 .nosotros h2 {
    width: 90%;
  }
  .section2 .nosotros p {
    width: 80%;
  }
  .section2 {
    padding-bottom: 90px;
  }
  .section2 div img {
    width: 14rem;
    height: auto;
  }
  .section3 .especialidades {
    width: 300px;
  }
  .section3 .especialidades article p {
    width: 300px;
  }
  footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  footer section {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }
  footer section .footer1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  footer div {
    width: 300px;
  }
  footer div p {
    width: 300px;
  }
  footer section .footer2 {
    width: 100%;
  }
  /*--------------------------------------------------*/
  /*-------------------NOSOTROS-----------------------*/
  /*--------------------------------------------------*/
  .nosotros-section1 {
    height: 80vh;
  }
  .nosotros-section1 p {
    width: 200px;
  }
  .nosotros-section1 h2 {
    font-size: 30px;
  }
  .nosotros-section2 section {
    width: 100%;
  }
  .nosotros-section2 h2 {
    text-align: center;
  }
  .nosotros-background-image {
    height: 100vh;
  }
  /*--------------------------------------------------*/
  /*-------------------servicios-----------------------*/
  /*--------------------------------------------------*/
  .servicios-section2 section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
    padding-left: 1rem;
    height: 28rem;
  }
  .servicios-section2 section div {
    width: 45%;
    height: 70%;
    padding-left: 0.5rem;
  }
  .servicios-section2 .servicio-granos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    padding-right: 1rem;
  }
  .servicios-section2 .servicio-granos div {
    width: 45%;
    height: 70%;
    padding-left: 0.5rem;
  }
  /*--------------------------------------------------*/
  /*-------------------contacto-----------------------*/
  /*--------------------------------------------------*/
  .iconos-contacto div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  .iconos-contacto div img {
    height: 45px;
    width: auto;
  }
}

/*# sourceMappingURL=style.css.map */
