.nosotros-background-image{
    height: 62vh;
    background-image: url(../assets/img/nosotros1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotros-section1{
    height: 60vh;
    width: 100%;
    position: relative;
    z-index: 2;
    margin-bottom: 200px;
    @include flex (column, wrap, center, center, 1.5rem);
    small{
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 1rem;
            color: rgb(255, 198, 151);
    }
    h2{
            text-align: start;
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            color:white;
            font-size: 70px;
        }
        p{
            width: 600px;
            font-family: 'Montserrat', sans-serif;
            font-weight: 500;
            color: white;
            text-align: center;
        }
}
.nosotros-section2{
    width: 100%;
    @include flex (column, wrap, center, center, 2rem);
    padding-top: 100px;
    h2{
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color:rgb(151, 76, 15);
        font-size: 30px;
    }
    section{
        @include flex (row, wrap, center, center, 4rem);

    }
}
.nosotros-section3{
    width: 100%;
    height: auto;
    @include flex (column, wrap, center, center, 4rem);
    h2{
        text-align: start;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        color:rgb(151, 76, 15);
        font-size: 30px;
    }
    section{
        @include flex (row, wrap, center, center, 4rem);
        article{
            border: 1px solid rgb(255, 221, 176);
            border-radius: 20px;
            padding: 40px 30px;
            @include flex (column, wrap, center, center, 2.5rem);
            div{
                img{
                    border-radius: 1.25rem;
                    height: 15.625rem;
                    width: 15.625rem;
                    object-fit: cover;                
                }
            }
            div{
                @include flex (column, wrap, center, center, 1rem);
                width: 400px;
                text-align: center;
                font-family: 'Work Sans', sans-serif;
                small{
                    font-weight: 600;
                }
                span{
                    font-weight: 700;
                    font-family: 'Saira', sans-serif;
                    color: rgb(228, 102, 0);
                    font-size: 20px;
                }
            }
        }
    }
}
