@media screen and (max-width: 415px) {
    header{
        @include flex (column, wrap, center, center, 2rem);
        padding-left: 0rem;
        padding-right: 0rem;
        nav{
            ul{
                font-weight: 400;
                @include flex (row, wrap, center, center, 1rem);
            }
        }
    }
    footer section{
        width: 100%;
    }

    .section1{
        padding-left: 30px;
        margin-top: -60px;
        h2{
            width: 370px;
            font-weight: 500;
            font-size: 40px;
        }
        p{
            width: 370px;
        }
    }

    .section2{
        height: auto;
        width: 100%;
        @include flex (column, wrap, center, center, 1rem);
        padding-top: 70px;
        div{
            img{
                width: 17rem;
                height: auto;
            }
        }
        .nosotros{
            width: 100%;
            @include flex (column, wrap, center, center, 1rem);
            h2{
                width: 350px;
                font-size: 30px;
                text-align: center;
            }
            p{
                width: 350px;
                font-size: 14px;
                text-align: justify;
            }
        }
    }
    .section3{
        div{
            h2{
                text-align: center;
            }
        }
    }
    .nosotros-section1{
        h2{
            font-size: 35px;
        }
        p{
            width: 250px;
            font-size: 14px;
        }
    }
}
