@media (max-width: 1140px){
    header{
        @include flex (column, wrap, center, center, 3rem);
    }
    footer{
        section{
            @include flex (row, wrap, center, center, 6rem);
    }
}

        /*--------------------------------------------------*/
        
        /*-------------------NOSOTROS-----------------------*/
        
        /*--------------------------------------------------*/
.nosotros-section1{
    margin-bottom:50px;
}
                /*--------------------------------------------------*/
        
        /*-------------------servicios-----------------------*/
        
        /*--------------------------------------------------*/

        .servicios-section2{
            section{
                height: 30rem;
                .servicio-cards-img{
                    width: 59%;
                    height: 100%;
                }
            }
            .servicio-granos{
                .servicio-cards-img{
                    width: 59%;
                    height: 100%;
                }
            }
        }
}