@media screen and (max-width: 500px){
    .button{
        padding: .3rem .8rem .3rem .8rem;
    }
    header{
        nav{
            ul{
                @include flex (row, wrap, space-around, center, .7rem);
                li{
                    a{
                        font-size: .875rem;
                        font-weight: 500;
                    }
                }
            }
    }
}
.section1{
    p{
        width: 300px;
    }
}
.section3{
    height: auto;
    width: 100%;
    @include flex (column, wrap, center, center, 5rem);
    padding-bottom:70px;
    div{
        h2{
            font-family: 'Work Sans', sans-serif;
            font-weight: 600;
            font-size: 2rem;
            color: rgb(151, 76, 15);
        }
    }
    .especialidades{
        article{
            p{
                width: 350px;
            }
        }
}
}
.lista-servicios{
    width:50%;
    h2{
        text-align: center;
    }
}
.section4{
    section{
        div{
            img{
                height: 300px;
                width: 300px;
            }
        }
        }
    }
    
        /*--------------------------------------------------*/
        
        /*-------------------NOSOTROS-----------------------*/
        
        /*--------------------------------------------------*/
.nosotros-section1{
    h2{
        font-size: 40px;
    }
    p{
        font-size: 14px;
    }
}
.nosotros-section2{
    h2{
        font-size: 25px;
    }
}
.nosotros-section3{
    section{
        article{
            padding: 40px 10px;
            div{
                img{
                    height: 13rem;
                    width: 13rem;              
                }
            }
            div{
                width: 250px;
            }
        }
    }
}
.nosotros-section4{
    h2{
        font-size: 25px;
    }
}
                /*--------------------------------------------------*/
        
        /*-------------------sucursal-----------------------*/
        
        /*--------------------------------------------------*/
        .grid-container-sucursal{
            width: 100%;
            height: auto;
            padding: 50px 50px;
            display: grid;
            grid-template-columns: repeat(1, 100%);
            grid-template-rows: repeat(6, 260px);
            grid-column-gap: 20px;
            grid-row-gap: 20px;
            grid-template-areas: 
            "item1"
            "item2"
            "item3"
            "item4"
            "item5"
            "item6";
        }
                        /*--------------------------------------------------*/
        
        /*-------------------servicios-----------------------*/
        
        /*--------------------------------------------------*/

.servicios-media1{
            height: 75vh;
        }
        .servicios-section2{
            section{
                @include flex (column,wrap, center, flex-end, 1rem);
                padding-left: 1rem;
                height: 28rem;
                div{
                    width: 45%;
                    height: 60%;
                    p{
                        font-size: .875rem;
                    }
                }
                .servicio-cards-img{
                    width: 50%;
                    height: 100%;
                }
            }
            .servicio-granos{
                @include flex (column, wrap, center, flex-start, 1rem);
                padding-right: 1rem;
                div{
                    width: 45%;
                    height: 60%;
                    p{
                        font-size: .875rem;
                    }
                }
                .servicio-cards-img{
                    width: 50%;
                    height: 100%;
                }
            }
        }

}