@media screen and (max-width: 375px) {
    header{
        width: 100%;
        nav{
            ul{
                @include flex (row, wrap, center, center, .5rem);
            }
        }
    }

    .section1{
        h2{
            width: 100%;
        }
        p{
            width: 80%;
        }
    }

    .section2{
        .nosotros{
            width: 100%;
            @include flex (column, wrap, center, center, 1.6rem);
            h2{
                width: 90%;
            }
            p{
                width: 80%;
            }
        }
    }
    .section2{
        padding-bottom: 90px;
        div{
            img{
                width: 14rem;
                height: auto;
            }
        }
    }
    .section3 .especialidades{
        width: 300px;
        article{
            p{
                width: 300px;
            }
        }
    }
    footer{
        width: 100%;
        height: auto;
        @include flex (column, wrap, space-between, center, 5rem);
        section{
            width: 100%;
            @include flex (column, wrap, center, center, 5rem);
        .footer1{
            @include flex (column, wrap, center, center, 1rem);
        }
        }
        div{
            width: 300px;
            p{
                width: 300px;
            }
        }
    }
    footer section .footer2{
        width: 100%;
    }
    
        /*--------------------------------------------------*/
        
        /*-------------------NOSOTROS-----------------------*/
        
        /*--------------------------------------------------*/
        .nosotros-section1{
            p{
                width: 200px;
            }
        }
        .nosotros-section2{
            section{
                width: 100%;
            }
            h2{
                text-align: center;
            }
        }
}