@media screen and (max-width: 915px){
    header{
        @include flex (column, wrap, center, center, 3rem);
        nav{
            ul{
                @include flex (row, wrap, space-around, center, 5rem);}
    }
}
.section4{
    section{
        div{
            img{
                height: 500px;
                width: 500px;
            }
        }
        }
    }
            /*--------------------------------------------------*/
        
        /*-------------------NOSOTROS-----------------------*/
        
        /*--------------------------------------------------*/
        .nosotros-section1{
            height: 80vh;
            margin-bottom:50px;
        }
        .nosotros-background-image{
            height: 100vh;
        }
        
        .nosotros-section4{
            @include flex (row, wrap, center, center, 3rem);
        }
                /*--------------------------------------------------*/
        
        /*-------------------sucursal-----------------------*/
        
        /*--------------------------------------------------*/
        .sucursal-background-image{
            height: 100vh;
        }
}