*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
::selection {
    background: rgb(255, 153, 0);
}
img{
    view-timeline-name: --revealing-image;
    animation-name:show;
    animation-fill-mode: both;
    animation-timeline: --revaling-image;

    animation-range: entry 25% cover 50%;
}
